

/* BASE STYLES */
body {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  color: #F0F8FF;
}

h1,
h2 {
  font-family: sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #F0F8FF;
}


/*START OF WELCOME SECTION*/
.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #4B0082;
  }

.welcome-section > p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: #FFD700;
}
/*END OF WELCOME SECTION*/

/*START NAV SECTION*/
.nav {
  display: flex;
  display: inline;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 20vh;
  background: #DC143C;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
  }

.nav-list {
  display: flex;
  margin-right: 2rem;
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
      margin: 0 1rem;
  }
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}
.nav-list a:hover {
  background: #191970;
}
/*END OF NAV SECTION*/
/*START OF ABOUT-SECTION*/
.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #A9A9A9;

}

/*END OF ABOUT-SECTION*/
/*START OF BODY SECTION*/
body {
  color: white;
  background-color: black;
  line-height: 1.4;
  width: 100%;
}
/*END OF BODY SECTION*/
/*START OF PROJECTS SECTION*/
.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background: #00008B;
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid #00008B;
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

.project {
  background: #A9A9A9;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.code {
  color: #A9A9A9;
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #FF7F50;
}
/*END OF PROJECTS SECTION*/
/*START OF CONTACT SECTION*/
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background: #A9A9A9;
}

.contact-section-header > h2 {
  font-size: 6rem;
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

.contact-section-header > p {
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 1px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}
/*END OF CONTACT SECTION*/
/* FOOTER */

footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: #A9A9A9;
  border-top: 4px solid #DC143C;
}

footer > p {
  margin: 2rem;
}
}
